# Configuration created by Apache Sling JCR Installer
include-filter.config.ignoreUrlParams=[""]
include-filter.config.resource-types=["aem-demo/components/megamenu"]
include-filter.config.extension=""
include-filter.config.enabled=B"true"
include-filter.config.path="/content/experience-fragments/aem-demo"
include-filter.config.required_header="Server-Agent\=Communique-Dispatcher"
include-filter.config.include-type="SSI"
include-filter.config.disableIgnoreUrlParams=B"false"
include-filter.config.selector="nocache"
include-filter.config.appendSuffix=B"true"
include-filter.config.add_comment=B"true"
include-filter.config.rewrite=B"false"
include-filter.config.ttl=""
